
@{
    ViewBag.Title = "Busqueda_Departamento";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Busqueda_Departamento</h2>

<h4>¿Digite el Nombre a Buscar?</h4>

<form action="/Servicios/Resultado_Departamento" method="post">

    <input type="text" name="Depart" class="form-control" />
    <input type="submit" value="Buscar" class="btn btn-success" />

</form>

<p>
    @Html.ActionLink("Regresar al Menu Principal", "Index", "Home")
</p>


